{% include 'snippet' snippet_name: 'NECS_N2PP_SetupVariables.js' %}<p class='guidance'>To support partnership skills development, a&nbsp;training allowance of up to £3,000 is made available to every successful applicant, regardless of the number of hours worked.&nbsp;<br>
  ‌<br>
  This budget is to be used in garnering non-clinical skills that support working effectively in a partnership role. The scheme participant can select the training they wish to undertake and should note there will be no learning needs assessment. Where the participant is also on the General Practice Fellowship programme, this business training should be over and above the learning opportunities available through the Fellowship.&nbsp;<br>
  ‌<br>
  ‌The training must meet the following criteria:&nbsp;</p>
<ul class='guidance'>
  <li>‌training must start within the first year of accepting a partnership role</li>
  <li>‌training must support skills relevant to the delivery of a partnership role&nbsp;</li>
  <li>participants should ensure they are getting good value for money when selecting training, to ensure they are making good use of public funds.&nbsp;</li>
</ul>
<p class='guidance'>‌Participants should personally assess what training they need to develop their non-clinical skills, to successfully deliver in a partnership role. This may cover, for example, practice management, financial management, HR and developing staff, IT. To check the training you want to undertake meets the criteria, you can email: <a href="mailto:england.newtopartnershipenquiries@nhs.net">england.newtopartnershipenquiries@nhs.net</a> for advice.&nbsp;&nbsp;</p>
<hr>

{% fetchxml training_claims_query %}
<fetch distinct='false' mapping='logical' aggregate='true'> 
    <entity name='necs_trainingclaim'> 
        <attribute name='necs_trainingclaimid' alias='claim_count' aggregate='count'/> 
        <attribute name='necs_amount' alias='claim_sum' aggregate='sum'/>
        <filter type='and'>
            <condition attribute='necs_practitionerid' operator='eq' value='{{user.contactid}}' />
            <condition attribute="statuscode" operator="not-in" >
                <value>348730000</value>
                <value>348730004</value>
                <value>348730005</value>
            </condition>
        </filter>
    </entity>
</fetch>
{% endfetchxml %}

{% for item in training_claims_query.results.entities %}
    <p class='guidance'>
    You have made {{ item.claim_count }} training claim(s), for a total amount of {{ item.claim_sum | format: "C", "en-GB" }}
    </p>
{% endfor %}

<hr class='guidance' />

<p></p>{% entityform name: 'Submit Training Claim' %}<div id="approval-guidance" class="guidance text-muted">Please note your claim will be sent to your practice manager for approval before being reviewed by the New to Partnership Team</div>