.crmEntityFormView .section {
    margin-bottom: 0 !important;
}

.select2-container {
    margin-bottom: 10px !important;
}

.select2-container--default .select2-results>.select2-results__options{
    max-height: 500px !important;
}

legend:not(#confirmation-legend) {
    padding-top: 20px !important;
}