table[role='presentation'] {
    margin-bottom: 12px !important;
}

table[role='presentation'] tr {
    height: auto !important;
}

table[role='presentation'] td {
    padding-top: 0 !important;
    height: auto !important;
}

.launchentitylookup {
    height: 40px !important;s
}
